:root {
  --mainAccent: #fa542e;
  --secondaryAccent: #692685;
  --mainWhite: #ffffff;
  --transition: all 350ms ease-in;
}

body {
  background-color: var(--white);
  color: var(--primiry);
  font-family: roboto, sans-serif;
  margin: 0;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
  color: currentColor;
}

button {
  border: none;
  cursor: pointer;
}

h1,
h2,
h3,
p,
ul,
span {
  margin: 0px;
  padding: 0px;
}

img {
  display: block;
  height: auto;
  max-width: 100%;
}

a,
button {
  font-size: 14px;
  line-height: 1.3;
}

.container {
  width: 1280px;
  margin: 0 auto;
}

.swiper {
  width: 600px;
  height: 400px;
}

.hero {
  color: var(--mainWhite);
}
.hero__wrapper {
  padding: 100px 0;
}
.hero__img {
  transform: translateY(100px);
}
.hero__slider-header {
  font-size: 54px;
  font-weight: 900;
  line-height: 1.3;
}
.hero__slider-price {
  margin-top: 8px;
  font-size: 36px;
  line-height: 1.3;
}
.hero__slider-price span {
  font-weight: 900;
}
.hero__slider-info-wrapper {
  display: flex;
  gap: 70px;
}
.hero__slider-info-meta-header {
  margin-top: 42px;
  font-size: 22px;
  line-height: 1.3;
  font-weight: 900;
}
.hero__slider-info-left {
  width: 150px;
}
.hero__slider-info-left p {
  margin-top: 10px;
}
.hero__slider-info-left span {
  font-weight: 900;
}
.hero__slider-info-right {
  width: 150px;
}
.hero__slider-info-right p {
  margin-top: 10px;
}
.hero__slider-info-right span {
  font-weight: 900;
}

.swiper-pagination-bullet {
  width: 20px !important;
  height: 20px !important;
}

.header__top {
  background-color: var(--secondaryAccent);
  padding: 14px 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
  color: white;
}
.header__top .container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.header__address {
  font-style: normal;
}
.header__address a {
  display: flex;
  gap: 8px;
  align-items: center;
  transition: var(--transition);
}
.header__address a:hover {
  color: var(--mainAccent);
}
.header__top-right-wrap {
  display: flex;
  align-items: center;
  gap: 56px;
}
.header__top-right-wrap .social-links {
  display: flex;
  gap: 8px;
}
.header__top-right-wrap .social-links a {
  transition: var(--transition);
}
.header__top-right-wrap .social-links a:hover {
  color: var(--mainAccent);
}
.header__top-right-wrap .button {
  background-color: var(--mainWhite);
  color: var(--secondaryAccent);
}
.header__button {
  border-radius: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 13px;
  padding: 10px 14px;
  background-color: var(--mainWhite);
  transition: var(--transition);
}
.header__button:hover {
  transform: scale(1.1);
}
.header__logo {
  transition: var(--transition);
}
.header__logo:hover {
  transform: scale(1.1);
}
.header__bottom {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 24px 0;
}
.header__bottom .header__button {
  background-color: var(--mainAccent);
}
.header__bottom-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 40px;
}
.header__bottom-nav {
  display: flex;
  gap: 40px;
  text-transform: uppercase;
}

.lang-switcher {
  display: flex;
  text-transform: uppercase;
}
.lang-switcher li:first-of-type::after {
  content: "/";
  margin: 0 3px;
}
.lang-switcher li a {
  transition: var(--transition);
}
.lang-switcher li a:hover {
  color: var(--mainAccent);
}

.menu-item a {
  padding: 34px 0;
  transition: var(--transition);
}
.menu-item a:hover {
  color: var(--mainAccent);
}

.hero {
  background-image: url(../../assets/hero-bg.jpg);
  background-size: cover;
  height: 625px;
}
.hero__wrapper {
  display: flex;
}

.dropdown {
  display: flex;
  gap: 140px;
  padding: 30px;
  opacity: 0;
  transition: var(--transition);
  position: absolute;
  top: 170px;
  left: 0;
  transform: translateX(50%);
  background-color: var(--mainWhite);
  z-index: 10;
}
.dropdown__header {
  font-size: 20px;
  font-weight: 700;
  line-height: 1.3;
  color: var(--secondaryAccent);
  text-transform: uppercase;
}
.dropdown__list-wrapper {
  display: flex;
  gap: 50px;
  margin-top: 24px;
}
.dropdown__list {
  display: flex;
  flex-direction: column;
  gap: 16px;
}
.dropdown__item {
  transition: var(--transition);
}
.dropdown__item:hover {
  color: var(--secondaryAccent);
  text-decoration: underline;
}/*# sourceMappingURL=main.css.map */