.dropdown {
  display: flex;
  gap: 140px;
  padding: 30px;
  opacity: 0;
  transition: var(--transition);

  position: absolute;
  top: 170px;
  left: 0;
  transform: translateX(50%);
  background-color: var(--mainWhite);
  z-index: 10;

  &__header {
    font-size: 20px;
    font-weight: 700;
    line-height: 1.3;
    color: var(--secondaryAccent);
    text-transform: uppercase;
  }

  &__list-wrapper {
    display: flex;
    gap: 50px;
    margin-top: 24px;
  }

  &__list {
    display: flex;
    flex-direction: column;
    gap: 16px;
  }

  &__item {
    transition: var(--transition);
    &:hover {
      color: var(--secondaryAccent);
      text-decoration: underline;
    }
  }
}
