.header-mobile {
  display: flex;
  justify-content: space-between;
  padding: 15px;
  position: relative;
  z-index: 12;

  @include desktop {
    display: none;
  }

  &__logo {
    img {
      width: 125px;
    }
  }

  .burger-btn {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 6px;
    width: 35px;
    background-color: transparent;

    &__line {
      height: 2px;
      width: 100%;
      border-radius: 3px;
      background-color: black;
    }
  }

  &__menu {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    gap: 40px;
    padding-top: 50px;
    background-color: var(--mainWhite);
    width: 100vw;
    height: calc(100vh - 75px);
    opacity: 0;

    position: absolute;
    top: 0;
    left: 0;
    transform: translateY(-110%);
    z-index: 11;

    .social-links {
      gap: 16px;

      a {
        transition: var(--transition);
        color: var(--secondaryAccent);
        &:hover {
          color: var(--mainAccent);
        }
      }
    }

    .header__button {
      color: var(--mainWhite);
      background-color: var(--mainAccent);
      gap: 11px;
      font-weight: 500;
      line-height: 1.2;
      div::before {
        font-size: 14px;
      }
    }
  }

  &__nav {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 40px;

    a {
      text-transform: uppercase;
    }
  }

  &__footer {
    width: 100%;
    background-color: var(--secondaryAccent);

    .container {
      padding: 15px;
      display: flex;
      justify-content: space-between;
      align-items: center;
    }
    .lang-switcher {
      color: var(--mainWhite);
    }

    .header__button {
      background-color: var(--mainWhite);
      color: var(--secondaryAccent);
    }
  }
}

.header {
  display: none;

  @include desktop {
    display: block;
  }

  &__top {
    background-color: var(--secondaryAccent);
    padding: 10px 0;

    color: white;

    .container {
      display: flex;
      align-items: center;
      justify-content: space-between;
      width: 100%;
    }

    .header__button {
      color: var(--secondaryAccent);
      font-weight: 500;
    }
  }

  &__address {
    font-style: normal;
    a {
      display: flex;
      gap: 8px;
      align-items: center;
      transition: var(--transition);

      &:hover {
        color: var(--mainAccent);
      }
    }
  }

  &__top-right-wrap {
    display: flex;
    align-items: center;
    gap: 56px;

    .button {
      background-color: var(--mainWhite);
      color: var(--secondaryAccent);
    }
  }

  &__button {
    border-radius: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 13px;
    padding: 10px 14px;
    background-color: var(--mainWhite);
    color: var(--mainWhite);
    transition: var(--transition);
    font-weight: 500;

    div::before {
      font-size: 14px;
    }

    &:hover {
      transform: scale(1.1);
    }
  }

  &__logo {
    transition: var(--transition);

    &:hover {
      transform: scale(1.1);
    }
  }

  &__bottom {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 24px 0;

    .header__button {
      background-color: var(--mainAccent);
    }
  }

  &__bottom-wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 40px;
  }

  &__bottom-nav {
    display: flex;
    gap: 40px;
    text-transform: uppercase;
  }
}

.lang-switcher {
  display: flex;
  text-transform: uppercase;

  li {
    &:first-of-type {
      &::after {
        content: '/';
        margin: 0 3px;
      }
    }

    a {
      transition: var(--transition);
      &:hover {
        color: var(--mainAccent);
      }
    }
  }
}

.menu-item {
  a {
    padding: 34px 0;
    transition: var(--transition);

    &:hover {
      color: var(--mainAccent);
    }
  }
}

.social-links {
  display: flex;
  gap: 16px;

  a {
    transition: var(--transition);
    &:hover {
      color: var(--mainAccent);
    }
  }
}

.current-lang {
  font-weight: 700;
}

.current-page {
  a {
    color: var(--mainAccent);
    font-weight: 700;
  }
}
