.hero {
  background-image: url(../assets/hero-bg-mob.jpg);
  background-size: cover;
  height: 625px;

  @include desktop {
    background-image: url(../assets/hero-bg.jpg);
  }

  &__wrapper {
    display: flex;
  }

  &__img {
    display: none;
    @include desktop {
      display: block;
    }
  }
}
