.hero {
  // background-image: url(../assets/hero-bg-mob.jpg);
  // background-size: cover;
  // background-position: center;
  // height: 625px;
  color: var(--mainWhite);
  transition: var(--transition);
  position: relative;
  // --------

  @include desktop {
    // background-image: url(../assets/hero-bg.jpg);
  }

  &__wrapper {
    display: flex;
    padding-top: 100px;
  }

  &__img {
    display: none;
    width: 600px;

    @include desktop {
      display: block;
      transform: translateY(120px);
      position: absolute;
      bottom: 0;
      right: 50px;
      z-index: 12;
    }
  }

  &__slider-header {
    font-size: 24px;
    font-weight: 900;
    line-height: 1.3;
    text-align: center;
    text-transform: uppercase;

    @include desktop {
      font-size: 54px;
      text-align: left;
    }
  }

  &__slider-price {
    margin-top: 8px;
    font-size: 20px;
    line-height: 1.3;
    text-align: center;

    span {
      font-weight: 900;
    }

    @include desktop {
      font-size: 36px;
      text-align: left;
    }
  }

  &__slider-info-wrapper {
    display: flex;
    gap: 50px;
    margin-top: 30px;
    width: 278px;

    @include desktop {
      gap: 70px;
      width: unset;
    }
  }

  &__slider-info-meta-header {
    margin-top: 42px;
    font-size: 16px;
    line-height: 1.3;
    font-weight: 900;
    text-transform: uppercase;

    @include desktop {
      font-size: 22px;
    }
  }

  &__slider-info-left {
    width: 150px;
    p {
      margin-top: 10px;
    }
    span {
      font-weight: 900;
    }
  }

  &__slider-info-right {
    width: 150px;
    p {
      margin-top: 10px;
    }
    span {
      font-weight: 900;
    }
  }

  .container {
    position: relative;
  }
}
