.swiper {
  width: 100%;
  height: 520px;

  @include desktop {
    height: 625px;
  }
}

.swiper-content {
  padding-top: 110px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 0;

  @include desktop {
    width: 570px;
    padding-top: 93px;
    align-items: unset;
  }
}

.swiper-pagination {
  display: flex !important;
  gap: 24px !important;
  justify-content: center !important;
  align-items: center !important;
  margin-bottom: 60px;

  @include desktop {
    width: unset !important;
    margin-bottom: 100px;
  }
}

.swiper-pagination-bullet {
  width: 15px !important;
  height: 15px !important;
  background: var(--mainWhite) !important;
  opacity: unset !important;
}

.swiper-pagination-bullet-active {
  background: black !important;
}
