.swiper {
  width: 100%;
  height: 350px;

  @include desktop {
    // width: 100%;
    height: 625px;
  }
}

.swiper-content {
  width: 570px;
  padding-top: 93px;
}

.swiper-pagination {
  display: flex !important;
  gap: 24px !important;
  justify-content: center !important;
  align-items: center !important;

  @include desktop {
    width: unset !important;
    margin-bottom: 100px;
  }
}

.swiper-pagination-bullet {
  width: 15px !important;
  height: 15px !important;
  background: var(--mainWhite) !important;
  opacity: unset !important;
}

.swiper-pagination-bullet-active {
  background: black !important;
}
